body {
  margin: 0;
  padding: 0;
  background-color: #ececec;
}

#clips {
  width: 780px;
}

.clip {
  background-color: #fafaff;
  float: left;
  width: 350px;
  height: 200px;
  margin: 10px 0 0 10px;
  padding: 10px;
  border: 3px solid #dedede;
  border-radius: 7px;
}

.clip:hover {
  border-color: #898989;
}

.clip-screenshot {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.clip-details {
  background-color: inherit;
  box-sizing: border-box;
  display: none;
  margin: 0;
  padding: 0 5px;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}

.clip:hover .clip-screenshot {
  display: none;
}

.clip:hover .clip-details {
  display: block;
}

.clip-details h2 {
  background-color: inherit;
  font-size: 1rem;
  position: sticky;
  top: 0;
  left: 5px;
  margin: 0;
  padding: 10px 0;
}

.clip-details blockquote {
  white-space: pre-line;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
